
.main{
    font-family: Quicksand;
    width: 1000px;
    margin: auto;
}

.enteteCase{
    font-size: 20px;
    margin: auto;
}

.nomSectionTop{
    display: grid;
    grid-template-columns: 200px auto;
    margin-bottom: 20px;
}

.logoTop{
    height: 100px;
    padding: 30px;
}

.nomSite{
    font-size: 40px;
    padding: 40px;
    font-family: Oswald;
    font-weight: bold;
    margin-top: auto;
}

.nomPage{
    font-size: 35px;
    font-family: Oswald;
    margin-left: 80px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.entete{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 15px;
    font-family: Oswald;
}
.entete a{
    text-decoration: none;
    color: black;
    border-radius: 20px;
    width: 150px;
    text-align: center;
}
.entete a:active{
    background-color: black;
    color: white;
}
.entete a:hover{
    background-color: rgb(152, 152, 152);
    color: black;
}
.selected {
    background-color: rgb(173, 173, 173);
    color: black;
}

.sectionTop{
    background-color: rgb(239, 239, 239);
    padding-bottom: 40px;
}
.texteDescription{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    width: 800px;
    text-align: justify;
}
.sources{
    font-size: 17px;
    margin-top: 30px;
}
.sectionSource{
    font-family: Oswald;
    font-size: 20px;
    margin-left: 60px;
}
.distancePoints{
    margin-top: 10px;
}
.distancePoints a{
    text-decoration: none;
    color: black;
}
.sectionTexte{
    margin-left: 90px;
    margin-bottom: 70px;
    text-align: justify;
    width: 800px;
    line-height: 250%;
    font-size: 19px;
}
.nomAuteur{
    font-size: 40px;
    font-style: Oswald;
    font-weight: bold;
    margin-top: 70px;
}
.pageAuteur{
    display: grid;
    grid-template-columns: 340px 200px;
    margin-left: 240px;
    margin-top: 80px;
}
.photoAuteur{
    height: 200px;
    border-radius: 100px;
}
.sourceSousImage{
    color: rgb(88, 88, 88);
    font-size: 13px;
    width: 500;
    text-align: center;
    padding-bottom: 200px;
}
.video{
    margin-left: 250px;
}
.backgroundTexte{
    background-color: rgb(249, 252, 255);
}
.imageLogo{
    margin-left: 350px;
    height: 300px;
}